
*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
.mainContainer{
    min-height: 100vh;
    width: 100%;
    border: 2px solid black;
    background-color: #ba03fc;
    position: fixed;
    justify-content: center;
    padding-top: 100px;
    
}
.toDoList{
    height: 400px;
    width: 600px;
    background-color:white;
    margin:  auto;
    border-radius: 10px;
}
h1{

    background-color: white;
    height: 50px;
    width: 250px;
    padding-left: 30px;
    display: flex;
    align-items: center;

    
}
.toDoList img {
 height: 30px;
 width: 50px;
 border: none;
} 
/* #toDoText{
   width: 70%;
   border: 2px solid black;
   padding-top: 30px;
   margin-top: 20px;
   margin-left: 0;
   justify-content: center;
   text-align: center;
} */
.txtImg{
    padding-top: 20px;
    color: blue;
    border: none;
    outline: none;
}
button{
    width: 50px;
    height: 60px;
    font-family: "Bebas Neue", sans-serif;
    border: none;
    outline: none;
    padding: 16px 70px;
    border-radius: 40px;
    font-size: 16px;
    background-color: orangered;
    color: #fff;
    cursor: pointer;


}
.row{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #edeef0;
    border-radius: 30px;
    padding-left: 20px;
    margin-bottom: 25px;
    margin: 0 30px;
}
input{
    font-family: "Edu AU VIC WA NT Pre", cursive;
    flex: 1;
    border: none;
    outline: none;
    background: transparent;
    padding: 10px;
}
ul li{
    padding: 12px 8px 12px 50px ;
    list-style: none;
    user-select: none;
    cursor: pointer;
    font-size: 27px;
    justify-content: space-between;
    position: relative;
}
ul li::before{
    content: '';
    position: absolute;
    height: 28px;
    width: 28px;
    border-radius: 50%;
    background-image: url(image/uncheck.png);
    background-size: cover;
    background-position: center;
    top: 12px;
    left: 8px;

}
ul li.checked{
    color: #555;
    text-decoration: line-through;

}
ul li.checked::before{
    background-image: url(image/check-symbol-isolated_23-2150500363.avif);
    
}
button:hover{
 color: blue;
}
ul li span{
    position: absolute;
    right: 0;
    top: 5px;
    width: 40px;
    height: 40px;
    font-size: 22px;
    color: #555;
    line-height:40px;
    text-align: center;
    border-radius: 50%;
}
ul li span:hover{
    background:#edeef0 ;
}
@media  screen and (max-width: 610px){
    .toDoList{
        width: 50%;   }  }  
        @media  screen and (max-width: 610px)  {
            .txtImg {
                height:50px;
                width: 100px;
                font-size:10px;
            }
        }
        @media  screen and (max-width: 610px)  {
            .row  {
               margin-left: 0px;
               padding-left: 0px;
               margin-bottom: 20px;

               
            }
        }
        @media  screen and (max-width: 610px)  {
            .row button {
                height:30px;
                width: 250px;
            }
        }
        @media  screen and (max-width: 610px)  {
             button {
                height:20px;
                width: 10px;
                padding-left: 5px;
                padding-right: 10px;
                font-size: 15px;
                padding-top: 10px;
            }
        }
        @media  screen and (max-width: 610px)  {
            input {
               width: 150px;
               margin-right: 50px;
               font-size: 15px;
           }
       }
       @media  screen and (max-width: 420px)  {
        .txtImg{
            height:50px;
            width: 70px;
            font-size:7px;
            padding-top: 10px;
       }
   }
   @media  screen and (max-width: 420px)  {
    img{
        height:20px;
        width: 50px;
        font-size:7px;
        padding-top: 5px;
        padding-bottom: 10px;
   }
}
@media  screen and (max-width: 420px)  {
    h1{
        height:30px;
        width: 150px;
        font-size:17px;
        padding-top: 10px;
        padding-right: 20px;
   }
}

@media  screen and (max-width: 420px)  {
    .row  {
        height: 30px;
        width: 150px;
       margin-left: 0px;
       padding-left: 0px;
       margin-bottom: 20px;  }
}
@media  screen and (max-width: 420px)  {
    input {
       width: 90px;
       margin-right: 50px;
       font-size: 12px;
   }
}
@media  screen and (max-width: 420px)  {
    button {
       height:10px;
       width: 5px;
       padding-left: 10px;
       padding-right: 15px;
       font-size: 12px;
       padding-top: 10px;
   }
}
